numpy
pandas
matplotlib
seaborn
scikit-learn
jupyterlab-git
jupyterlab-widgets
ipywidgets
plotly
notebook
jupyterlab-lsp
black
flake8
isort
mypy
pytest
jupyterlab-dash
jupyter-dash
xgboost
tensorflow
transformers
datasets
huggingface_hub
accelerate
jupyter-resource-usage
